<section class="background">
    <section class="overlay">
        <div class="content">
            <img class="logo" src="../../../assets/img/logo.png">
            <hr class="line">
            <div class="container">
                <div class="text-item"> 
                    <div class="titlu">
                        Comunică, învață și aplică
                    </div>    
                    <div class="subtitlu">
                        Trăiește la un alt nivel viața de student. Cunoaște-ți colegii si profesorii dincolo de orele petrecute la facultate.
                    </div>
                    <button [routerLink]="['/login']" class="try">Începe acum</button>
                </div>
                <div class="image-item">
                    <img class="img-home" src="../../../assets/img/1.png" >
                </div>
            </div>
        </div>
    </section>
</section>


    